<footer>
    <ul class="footer-list">
        <li><a href="">運営会社</a></li>
        <li><a href="">利用規約</a></li>
        <li><a href="">プライバシーポリシー</a></li>
        <li><a href="">特定商取引法に関する表示</a></li>
    </ul>
      <a href=""><img src="/images/FACEBOOK風のアイコン素材.png" alt="facebook" class="footer-sns"></a>
      <a href=""><img src="/images/twitterのアイコン素材 その2.png" alt="twitter" class="footer-sns"></a>
      <br><br>© 2009 - 2021KiRAMEX CORPORATION.
</footer>