<header>
    <a href="/"><img src="/images/logo.png" alt="logo" class="logo"></a>
    <ul class="header-list">
        <li class="header-right"><img src="/images/人物の枠線アイコン.png" alt="icon">
            <span class="set">
                <a href=""><img src="/images/設定の歯車アイコン　その2.png" alt=""> 設定</a>
            </span>
        </li>
        <li class="header-right"><img src="/images/クリスマスベルの無料素材5.png" alt="bell">
            <span class="set news"><a href="">年末年始のサポートについて<br>2020年12月20日</a></span>
        </li>
        <li><a href=""><img src="/images/星アイコン6.png" alt=""><br>気になる</a></li>
        <li><a href=""><img src="/images/箱アイコン2.png" alt=""><br>応募管理</a></li>
        <li><a href="/job"><img src="/images/アンケートシートアイコン.png" alt=""><br>求人</a></li>
        <li><a href=""><img src="/images/個人情報ファイル3.png" alt=""><br>プロフィール</a></li>
        <li><a href=""><img src="/images/吹き出しのアイコン6.png" alt=""><br>メッセージ</a></li>
    </ul>
</header>