<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recruit</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
      <main></main>
    <%- include('footer'); %>
  </body>
</html>